html, body {
  /*margin-left: 40px;
  margin-top: 5px;*/
  max-width: 500px;
  margin: auto;
}

.singleButton {
  display: inline;
  margin: 4px;
  margin-bottom: 0px;
  outline: none;
}

input:hover:not(#input) {
  -webkit-filter: invert(1);
  filter: invert(1);
}

input:active:not(#input) {
  transform: scale(0.92);
}

.mainContainer {
  background-repeat: no-repeat;
  background-image: url('assets/Calculator.png');
  width: 441px;
  height: 693px;
  padding-top: 50px;
}

.mainButtons {
  text-align: center;
}

.input {
  font-family: "digital-font-1";
  border: none;
  background-color: transparent;
  font-size: 40px;
  width: 385px;
  height: 30px;
  padding-left: 30px;
}

.input:focus {
  outline: none;
}

.output {
  font-family: "digital-font-1";
  font-size: 40px;
  margin: 0px;
  text-align: right;
  height: 50px;
  padding-right: 25px;
}

.angleButton {
  width: 50px;
  height: 25px;
  outline: none;
  margin-left: 33px;
  border-radius: 20px;
}

.extraOpener {
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 20px;
  margin-left: 300px;
}

.specialButtons {
  margin-top: 30px;
}

.extraButtons {
  position: absolute;
  max-width: 192px;
  left: 925px;
  top: 163px;
  border-radius: 15px;
  visibility: hidden;
}

.lastButtons {
  margin-left: 28px;
}

@font-face {
  font-family: "digital-font-1";
  src: url('assets/font/digital_1/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}